# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=news_market
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=news_market_raw

# NewsAPI (https://newsapi.org/register)
NEWSAPI_KEY=your_key_here

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000
